LeG_lastDir.txt
LeG_lastPath.txt
*.asv
LeGUI/build/*
!LeGUI/build/atlases
LeGUI/build/atlases/*
!LeGUI/build/atlases/Anat.*
!LeGUI/build/atlases/AnatMacro.*
LeGUI/atlases/*
!LeGUI/atlases/Anat.*
!LeGUI/atlases/AnatMacro.*
